*{
    margin:10px;
    padding: 10px;
    box-sizing: border-box;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}
.header{
    background: #000;
    display: flex;
    flex-flow: column nowrap;
}
.menu{
    background: #B8FFF9;
    display: flex;
    flex-flow: row nowrap;
    height: 100px;
    align-items: center;
}
.logo{
    background: #85F4FF;
    flex:1 1 auto;
    height: 50px;
}
.nav{
    background: #85F4FF;
    flex:5 1 auto;
    height: 50px;
}
.social{
    background: #85F4FF;
    flex:1 1 auto;
    height: 50px;
}
.texto-principal{
    background: #42C2FF;
}
h1{
    background: #B8FFF9;
}
.section{
    background: #000;
    display: flex;
}
.articulos{
    background: #0E185F;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
}
.article{
    background: #E8FFC2;
    flex: 1 1 40%;
}
.navegacion{
    background: #00FFDD;
    flex: 1 1 100%;
}
.aside{
    background: #2FA4FF;
    flex: 1 1 auto;
}
.publicidad{
    background: #0E185F;
}
.footer{
    background: #000;
    display: flex;
    justify-content: center;
}
.pie{
    background: #019267;
    width: 300px;
}
